<template>
  <figure class="relative">
    <img class="img fit-cover h-100 w-100" :src="src" :alt="description" />
    <figcaption v-if="showCaption" class="absolute bottom-0 pa3 w-100">
      <a :href="url" class="link glam-grey underline-hover" target="_blank">
        <span class="bg-white lh-copy pa1">{{ description }}</span>
      </a>
    </figcaption>
  </figure>
</template>

<script>
export default {
  props: {
    url: { type: String, required: true },
    src: { type: String, required: true },
    description: { type: String, required: true },
    showCaption: { type: Boolean, required: false, default: true },
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
span {
  box-decoration-break: clone;
}
</style>
