<template>
  <table>
    <!-- header row  -->
    <tr>
      <th v-for="(continentHead, index) in grouping" :key="index" class="w-20">
        {{ continentHead[0] }}
      </th>
    </tr>
    <!-- body row -->
    <tr class="f7 b ttl">
      <td
        v-for="(continent, index) in grouping"
        :key="`body-${index}`"
        valign="top"
        class="truncate"
      >
        <ul
          class="list pl0"
          :style="`color: ${monochromaticGlamGreenLight[index]} !important`"
        >
          <template v-for="country in continent[1]">
            <li
              v-for="institution in country[1]"
              :key="institution[1]"
              :title="`${country[0]}- ${institution.name}`"
              class="ttu"
            >
              <a :href="institution.website" class="link glam-grey" target="_blank">
                {{ institution.name }}
              </a>
            </li>
          </template>
          <!-- <li v-for="institution in continent" :key="institution.id">{{continent}}</li> -->
        </ul>
      </td>
    </tr>
  </table>
</template>

<script>
import { group } from "d3";

export default {
  props: {
    glams: Array,
    glamSurvey: Array,
  },
  data() {
    return {
      grouping: null,
      remSize: null,
      monochromaticGlamGreenLight: [
        "#6E7574",
        "#9EF7E3",
        "#71C1B0",
        "#4B756C",
        "#B6C2BF",
        "#55F9D5",
        "#7EC4B5",
      ],
    };
  },
  mounted() {
    this.grouping = group(
      this.glamSurvey,
      (d) => (d.continent ? d.continent : null),
      (d) => (d.country ? d.country : null)
    );
  },
};
</script>

<style scoped>
a {
  color: inherit;
}
table {
  table-layout: fixed;
  width: 100%;
}
td {
  width: 200px;
}
li {
  line-height: 0.5rem;
}
</style>
