<template>
  <div class="mv5">
    <!-- intro! -->
    <section class="">
      <div class="fs w-two-thirds-ns w-100 ph4">
        <h1 class="ttu b">{{ $t("title") }}</h1>
        <nuxt-content :document="intro" class="lh-copy"></nuxt-content>
      </div>
      <div class="fs w-third-ns w-100 overflow-hidden">
        <image-card
          :url="selectedImages[0].url"
          :src="selectedImages[0].src"
          :description="selectedImages[0].description"
        />
      </div>
    </section>

    <!-- open glam definition -->
    <section class="">
      <div class="flex w-50-ns w-100 mh-50 overflow-hidden fs">
        <image-card
          :url="selectedImages[1].url"
          :src="selectedImages[1].src"
          :description="selectedImages[1].description"
        />
      </div>
      <div
        class="
          w-50-ns w-100
          pa3
          bg-glam-yellow-light
          lh-copy
          mt4
          relative
          inset
          fs
        "
      >
        <nuxt-content :document="definition"></nuxt-content>
      </div>
    </section>

    <!-- glam map  -->
    <section class="full-width">
      <glam-map v-if="glams" :glams="glams" class="vh-75" />
    </section>

    <!-- map explanation & basic stats  -->
    <section class="">
      <div class="w-two-thirds-ns w-100 fs lh-copy">
        <div class="h-100 w-100 pa3">
          <nuxt-content :document="mapExplanation"></nuxt-content>
        </div>
      </div>
      <div class="w-third w-100 fs b">
        <h3 class="bg-glam-red-light pa3 ma3 f4">
          {{ $t("basicStats.institutions") }} <br />
          <span class="f3 glam-red">{{ glamSurvey.length }}</span>
        </h3>
        <h3 class="bg-glam-green-light pa3 ma3">
          {{ $t("basicStats.countries") }} <br />
          <span class="f3 glam-green">{{ countries.length }}</span>
        </h3>
        <h3 class="bg-glam-yellow-light pa3 ma3">
          {{ $t("basicStats.volume") }} <br />
          <span class="f3 glam-yellow">
            {{ openDataVolumeTotal.toLocaleString("en-US") }}
          </span>
        </h3>
      </div>
    </section>

    <!-- data sources -->
    <section class="">
      <div class="flex w-50-ns w-100 mh-50 overflow-hidden fs">
        <image-card
          :url="selectedImages[2].url"
          :src="selectedImages[2].src"
          :description="selectedImages[2].description"
        />
      </div>
      <div
        class="
          w-50-ns w-100
          pa3
          bg-glam-yellow-light
          lh-copy
          mt4
          relative
          inset
          fs
        "
      >
        <nuxt-content :document="sources"></nuxt-content>
      </div>
    </section>

    <!-- open data specturm  -->
    <section class="">
      <div
        class="
          w-50-ns w-100
          pa3
          bg-glam-green-light
          lh-copy
          mt4
          relative
          inset-reverse
          fs
          z-5
        "
      >
        <nuxt-content :document="spectrum"></nuxt-content>
      </div>
      <div class="flex w-50-ns w-100 mh-50 overflow-hidden fs">
        <image-card
          :url="selectedImages[3].url"
          :src="selectedImages[3].src"
          :description="selectedImages[3].description"
        />
      </div>
    </section>

    <!-- eligible data insight  -->
    <section class="">
      <div class="lh-copy w-50-ns w-100 mv3 fs">
        <nuxt-content :document="eligibility"></nuxt-content>
      </div>

      <div class="w-50-ns w-100 mh-50 overflow-hidden fs">
        <eligible-data :glamSurvey="glamSurvey" />
      </div>
    </section>

    <!-- what about other countries that are not recorded??? -->
    <section v-if="glams.length > 0" class="w-80 center">
      <div class="w-50-ns w-80 center">
        <h3 class="f4">
          {{ $t("basicStats.whatAbout", { count: 195 - countries.length }) }}
        </h3>
      </div>
      <!-- GLAM Treemap -->
      <div class="lh-copy mb4 w-two-thirds-ns w-80 center tc">
        <nuxt-content :document="treemapExplanation"></nuxt-content>
      </div>
      <div class="mv2 tc">
        <glam-treemap :glams="glams" :glamSurvey="glamSurvey" />
      </div>
      <div class="w-100">
        <table-by-continent :glams="glams" :glamSurvey="glamSurvey" />
      </div>
    </section>

    <!-- rights policies insight  -->
    <section class="">
      <div class="lh-copy w-50-ns w-100 mv3 fs">
        <nuxt-content :document="termsOfUse"></nuxt-content>
      </div>
      <div class="flex w-50-ns w-100 mh-50 overflow-hidden fs">
        <image-card
          :url="selectedImages[4].url"
          :src="selectedImages[4].src"
          :description="selectedImages[4].description"
        />
      </div>
    </section>

    <!-- INSIGHTS INSIGHTS INSIGHTS  -->
    <!-- other insights  -->
    <section>
      <template v-for="(insight, index) in insights">
        <nuxt-content :document="insight" :key="index"></nuxt-content>
      </template>
    </section>

    <!-- upsidedown map  -->
    <section class="full-width">
      <glam-map
        ref="rotatingMap"
        v-if="glams"
        :glams="glams"
        :rotation="mapRotation"
        class="vh-75"
      />
    </section>

    <!-- action items  -->
    <section id="take-actions" class="w-80 center">
      <div class="fs w-100 mb4">
        <h2 class="tc h-auto">{{ $t("actions.take") }}</h2>
      </div>

      <!-- add your institution to the map -->
      <div class="fs w-third tc">
        <a
          class="br-pill bg-glam-red link pa3 white b grow:hover"
          href="https://docs.google.com/forms/d/e/1FAIpQLSelOQTc_RTOW7rEL4ymC-W5qWaU2NKmi0QeFWTlFcr03dxBjQ/viewform"
        >
          {{ $t("actions.addToMap") }}
        </a>
      </div>

      <!-- download the data -->
      <div class="fs w-third tc">
        <a
          class="br-pill bg-glam-red link pa3 white b grow"
          href="https://docs.google.com/spreadsheets/d/1WPS-KJptUJ-o8SXtg00llcxq0IKJu8eO6Ege_GrLaNc/edit#gid=1216556120"
        >
          {{ $t("actions.download") }}
        </a>
      </div>

      <!-- additional resources -->
      <div class="fs w-third tc">
        <a
          class="br-pill bg-glam-red link pa3 white b grow"
          href="https://opendatahandbook.org/"
        >
          {{ $t("actions.resources") }}
        </a>
      </div>
    </section>

    <!-- <div class="relative z-5">
        <Scrollama
          :debug="true"
          :offset="0.6"
          @step-enter="stepEnterHandler"
          @step-exit="stepExitHandler"
        >
          <div
            v-for="step in steps"
            :key="step.id"
            :data-step-id="step.id"
            class="h-48 flex justify-center items-center"
            :class="{ 'bg-yellow-300': activeStepId === step.id }"
          >
            Step {{ step.id }}
          </div>
        </Scrollama>
      </div> -->
  </div>
</template>

<script>
import "intersection-observer";
import GlamMap from "../components/GlamMap.vue";
import GlamTreemap from "../components/GlamTreemap.vue";
import TableByContinent from "../components/TableByContinent.vue";
import PieChart from "../components/PieChart.vue";
import EligibleData from "../components/EligibleData.vue";
import ImageCard from "../components/ImageCard.vue";
import _uniqBy from "lodash/uniqBy";
import _groupBy from "lodash/groupBy";
import _countBy from "lodash/countBy";
import _sampleSize from "lodash/sampleSize";
import _reduce from "lodash/reduce";
import { csvParse } from "d3";

export default {
  components: {
    GlamMap,
    GlamTreemap,
    PieChart,
    EligibleData,
    TableByContinent,
    ImageCard,
  },
  async asyncData({ $content, $axios, $wbk, $i18n }) {
    // get the images to display in the header
    // API docs:
    // - https://www.mediawiki.org/wiki/API:Images#JavaScript
    // - https://www.mediawiki.org/wiki/API:Query#Generators
    let headerImages = await $axios
      .get(
        `https://commons.wikimedia.org/w/api.php?action=query&generator=categorymembers&gcmtitle=Category:Open_GLAM_survey_visualization&gcmlimit=50&gcmtype=file&prop=imageinfo&iiprop=url&format=json&origin=*`
      )
      .then((r) => {
        return r.data.query.pages;
      });

    // Get the survey items from the Wikidata
    const sparql = `
          SELECT ?item ?itemLabel ?coordinates ?country ?countryLabel ?population ?iso ?continent ?continentLabel WHERE {
        ?item wdt:P1343 wd:Q73357989;
          wdt:P625 ?coordinates.
        SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
        OPTIONAL {
          ?item wdt:P17 ?country.
          ?country wdt:P1082 ?population.
          ?country wdt:P298 ?iso.
          ?country wdt:P30 ?continent.  
        }
      }
      `;
    let glams = await $axios
      .get($wbk.sparqlQuery(sparql))
      .then((res) => {
        return $wbk.simplify.sparqlResults(res.data);
      })
      .catch((err) => {
        return [];
      });

    // Get the survey items from the spreadsheet itself
    let glamSurvey = await $axios
      .get(
        "https://docs.google.com/spreadsheets/d/e/2PACX-1vQFweNkzR3NvqDhupUKGymt-RZF5DqcdQO22bp6KAPOsr-6k9jSCm1VtqvHQ404QdqogDfwTavRtLiv/pub?gid=1216556120&single=true&output=csv"
      )
      .then((res) => {
        let parsed = csvParse(res.data, (d) => {
          return {
            name: d["INSTITUTION"],
            website: d["INSTITUTION WEBSITE"],
            openDataVolume:
              Number(d["OPEN DATA VOLUME 1"].replaceAll(",", "")) +
              Number(d["OPEN DATA VOLUME 2"].replaceAll(",", "")) +
              Number(d["OPEN DATA VOLUME 3"].replaceAll(",", "")) +
              Number(d["OPEN DATA VOLUME 4"].replaceAll(",", "")) +
              Number(d["OPEN DATA VOLUME 5"].replaceAll(",", "")),
            openAccessScope: d["OPEN ACCESS SCOPE"],
            continent: d["CONTINENT"],
            country: d["COUNTRY"],
          };
        });
        parsed.pop(); // delete the last row, which is the summary stats
        return parsed;
      });

    // Get the content blocks
    // FIXME the locale "en" should be dynamic based on locale. See: https://github.com/nuxt/content/issues/44
    const intro = await $content("blocks", "en", "intro").fetch();
    const definition = await $content("blocks", "en", "definition").fetch();
    const sources = await $content("blocks", "en", "sources").fetch();
    const treemapExplanation = await $content("blocks", "en", "treemap-explanation").fetch();
    const mapExplanation = await $content("blocks", "en", "map-explanation").fetch();
    const eligibility = await $content("blocks", "en", "eligibility").fetch();
    const spectrum = await $content("blocks", "en", "spectrum").fetch();
    const termsOfUse = await $content("blocks", "en", "terms-of-use").fetch();
    const insights = await $content("blocks", "en", "insights").fetch();

    return {
      headerImages,
      glams,
      glamSurvey,
      intro,
      definition,
      sources,
      eligibility,
      treemapExplanation,
      mapExplanation,
      spectrum,
      termsOfUse,
      insights,
    };
  },
  data() {
    return {
      mapRotation: 0,
      mapObserver: null,
    };
  },
  mounted() {
      this.mapObserver = new IntersectionObserver(
      (entries) => {
        this.mapRotation = entries[0].intersectionRatio * Math.PI;
        if (entries[0].intersectionRatio > 0.99) {
          this.mapObserver.disconnect()
        }
      },
      {
        threshold: [...Array(180).keys()].map((x) => x / 180),
      }
    );
    this.mapObserver.observe(this.$refs.rotatingMap.$el);
  },
  computed: {
    selectedImages: function () {
      let selected = _sampleSize(this.headerImages, 5);

      return selected.map((item) => {
        return {
          url: item.imageinfo[0].descriptionurl,
          src: item.imageinfo[0].url,
          description: item.title.replace("File:", "").replace(".jpg", ""),
        };
      });
    },
    countries: function () {
      if (this.glamSurvey.length > 0) {
        return _uniqBy(this.glamSurvey, (glam) => {
          return glam.country;
        });
      } else {
        return [];
      }
    },
    openDataVolumeTotal: function () {
      return _reduce(
        this.glamSurvey,
        function (sum, glam) {
          return sum + (glam.openDataVolume ? glam.openDataVolume : 0);
        },
        0
      );
    },
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
section {
  margin-bottom: 2rem;
  width: 100%;
  padding: 0 8rem;
  margin: 2rem 0;
  overflow: hidden;
}

.full-width {
  margin: 0;
  padding: 0;
}
</style>
